@font-face {
    font-family: Netflix;
    src: url("font/NETFLIXSANS-REGULAR.OTF");
}
*{
    font-family: Netflix;
}

body {
    margin-top: 7.5px;
    margin-bottom: 11px;
    margin-left: 0;
    margin-right: 0;
    background-color: #141414;
    color: white;
    
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;

}

main{
    padding-top: 60px;
}
div.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 4px;
    transition: 0.8s;
}


div.navbar .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .left img {
    padding: 10px;
    height: 25px;
    width: 92.5px;
    margin-right: 20px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    font-size: 13.5px;
    text-decoration: none;
    color: white;
    transition: .5s;
}

.navbar ul li a:hover {
    color: rgb(146, 146, 146);
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navbar-links li a {
    margin-left: 17px;
}

.navbar-search {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-icon {
    height: 30px;
    cursor: pointer;
}

#search-textarea {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    height: 100px;
    padding: 5px;
}


div.navbar .right{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.navbar .right .navbar-search:hover input{
    width: 200px;
    border: 2px solid #575757;
    /* margin-right: 1px; */
}
div.navbar .right .navbar-search input{
    padding-left: 15px;
    background-color: black;
    color: white;
    height: 30px;
    width: 0;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;

}

div.navbar .right .navbar-search img{
    position: relative;
    top: 2px;
}

div.navbar .right a{
    text-decoration: none;
    font-size: 13.5px;
    color: white;
    margin-left: 17px;
    transition: .5s;
}
div.navbar .right a:hover{
    color: rgb(146, 146, 146);
}
#newreleaseicon{
    width: 24px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-left: 17px;
}

#profileavatar{
    border-radius: 5px;
    width: 36px;
    height: 36px;
    position: relative;
    top: 3px;
    margin-left: 17px;
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -6;
    filter: brightness(90%);
    padding-bottom: 20px;
    margin-bottom: 20px; 
  }

.herosection{
    padding: 150px 100px;
    width: 80vh;
}

.herosection .title img{
    width: 50vw;
}

.herosection .description p{
    width: 40vw;
    
    
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:  20px;
}

.buttons button{
    border: none;
    padding: 10px 17px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.8s;
}

.vignette-layer{
    background-color: transparent;
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -1px;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
    position: relative;
}

.trailer-vignette-layer{
    background: linear-gradient(69deg, rgba(0, 0, 0, .6), transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    top: 0;
    transition: opacity .5s;
    z-index: -5;
}
.mute-and-rating{
    color: white;
    position: relative;
    top: -330px;
    right: 0;
}

.mr-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 0px;
}

.mr-container .rating{
    background-color: #67676777;
    padding-left: 5px;
    padding-right: 60px;
    border-left: 3px solid white ;
    padding-top: 6px;
    padding-bottom: 6px;
}

.mute button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white ;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}



.recommendations{
    background-color: rgba(255, 255, 255, 0);
    padding: 0 100px 0 100px;
    position: relative;
    top: -300px;
}

.slider-container{
    position: relative;
    /* max-width: 1021px; */
    margin: 0 auto;
    overflow: hidden;
    
}
.slider{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transition: transform 0.7s ease;
    gap: 5px;
    /* overflow: hidden; */
}


.slide{
    flex: 0 0 auto;
    transition: all 300ms ease-in-out;
}

.slide:hover{
    transform: scale(1.5);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
}

.slide:hover img{
    transition-delay: 300ms;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
.slide img{
    max-width: 208px;
    max-height: 125px;
    border-radius: 5px;
    cursor: grab;
    
}

button.prev, button.next{
    color: white;
    
    background: none;
    max-height: 125px;
    position: absolute;
    top:13.5%;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

button.prev{
    left: 10px;
    padding-left: ;
}

button.next{
    right: 10px;
    
}


div.footer{
    color: grey;
    margin: 20px auto 0;
    max-width: 980px;
    padding: 0 4%;
    font-size: 14px;

}
div.footer .social-links{
    display: flex;
    margin-bottom: 1em;
    gap: 20px;
}

div.footer .social-links a i{
    width: 34px;
    height: 34px;
}

div.footer .other-links{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 14px;
    padding: 0;
}

div.footer .other-links-wrapper{
    box-sizing: border-box;
    flex: 0 0 25%;
    list-style-type: none;
    margin-bottom: 16px;
    padding-right: 22px;
}

div.footer .other-links-wrapper a{
    text-decoration: none;
    color: grey ;
}

.service-button{
    background: transparent;
    border: 1px solid grey;
    color: grey;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 0.5em 
}

