@font-face {
    font-family: Netflix;
    src: url("font/NETFLIXSANS-REGULAR.OTF");
}
*{
    font-family: Netflix;
}

body {
    margin-top: 7.5px;
    margin-bottom: 11px;
    margin-left: 0;
    margin-right: 0;
    background-color: black;
    color: white;
    
}

div.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 8px;
}

div.navbar .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .left img {
    padding: 10px;
    height: 25px;
    width: 92.5px;
    margin-right: 20px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    font-size: 13.5px;
    text-decoration: none;
    color: white;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navbar-links li a {
    margin-left: 17px;
}

.navbar-search {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-icon {
    height: 30px;
    cursor: pointer;
}

#search-textarea {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    height: 100px;
    padding: 5px;
}


div.navbar .right{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.navbar .right .navbar-search:hover input{
    width: 200px;
    border: 2px solid #575757;
    margin-right: 10px;
}
div.navbar .right .navbar-search input{
    padding-left: 15px;
    background-color: black;
    color: white;
    height: 30px;
    width: 0;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;

}

div.navbar .right .navbar-search img{
    position: relative;
    top: 2px;
}

div.navbar .right a{
    text-decoration: none;
    font-size: 13.5px;
    color: white;
    margin-left: 17px;
}

#newreleaseicon{
    width: 24px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-left: 17px;
}

#profileavatar{
    width: 36px;
    height: 36px;
    position: relative;
    top: 3px;
    margin-left: 17px;
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }